



.page {
  display: flex;
  flex-wrap: wrap; /* Ensure cards wrap to the next line */
  margin-top: 90px;
  margin-bottom: 40px;
  padding: 0 10px; /* Add padding to the sides */
  justify-content: center;
}

